button.close-btn,
button.camera-switch-btn {
  width: 50px;
  height: 50px;
  background: antiquewhite;
  color: brown;
  border-radius: 50%;
  border: none;
  position: absolute;
  z-index: 1;
}

button.close-btn {
  font-size: 20px;
  font-weight: 600;
  left: 10px;
  top: 10px;
}

button.camera-switch-btn {
  right: 10px;
  bottom: 20px;
}
